 /* 1. MISE EN PAGE CENTRÉE (FLEXBOX) */
 body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;     /* Centre verticalement */
    background-color: #f0f2f5;
    font-family: 'bahnschrift', Tahoma, Geneva, Verdana, sans-serif;
}

/* 2. LA BOITE BLANCHE */
.container {
    background: rgba(255, 255, 255, 0.587);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}
h1 { margin-bottom: 20px; color: #333; font-size: 30px;}
h2 { margin-bottom: 20px; color: #333; font-size: 24px; text-align: center; text-decoration: color-mix(in #1a8a3b,#b122a7); }


/* 3. LES CHAMPS ET BOUTONS */
.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}
input[type="text"]:focus { border-color: #0078A8; }

/* Le bouton GPS (Icone) */
.btn-gps {
    background-color: #178d28;
    color: white;
    border: none;
    border-radius: 5px;
    width: 50px;
    cursor: pointer;
    font-size: 20px;
    transition: background 0.3s;
}
.btn-gps:hover { background-color: #005a80; }

/* Le gros bouton de validation */
.btn-valider {
    background-color: #22b14c;
    color: rgb(255, 255, 255);
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}
.btn-valider:hover { background-color: #1a8a3b; }
.btn-valider:disabled { background-color: #bdbcbc; cursor: not-allowed; }

/* Feedback visuel */
#status {
    margin-top: 15px;
    font-size: 14px;
    color: #666;
    min-height: 20px;
}
.success { color: green !important; }
.error { color: red !important; }

img {
    max-width: 300px;
    height: auto;
    display: block;
    margin: auto;
}

